* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 14px;
  color: rgb(27, 27, 27);
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-transform: uppercase;
  text-decoration: none;
}

header {
  height: 70px;
  width: 100%;
  position: fixed;
  background-color: rgb(255, 254, 254);
  z-index: 999;
  border-bottom: 1px solid ghostwhite;
}

.container_head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 13px;
}
.search-bar {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-bar input {
  width: 580px;
  height: 30px;
  border-radius: 2px 0 0 2px;
  border: 1px solid #d3d3d3;
  background: #fff;
  box-shadow: inset 0 1px 2px #eee;
  padding: 2px 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #333
}

.search-bar button {
  width: 65px;
  background-color: #f8f8f8;
  border: 1px solid #d3d3d3;
  border-radius: 0 2px 2px 0;
  padding: 2px 8px;
}

.search-bar button>img {
  width: 20px;
  height: 20px;
  color: #333;
  opacity: 0.6;
}

.header-end {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.header-end>a {
  color: #1c6dd7;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 16px;
}
